* { 
    margin: 0; 
    padding: 0; 
    font-family: "Poppins", sans-serif; 
    box-sizing: border-box; 
  } 
  html { 
    scroll-behavior: smooth; 
  } 
  #header{
    margin-bottom: 1%;
}
body{
  
    background: url('../images/BG1.jpeg');
    background-color: #033E42;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo{
    padding: 0;
    margin: none;
    width: 140px;
}

.container-fluid{
    padding: 5px 1%;
    margin-top: 5px;
   }
   .d-flex{
    margin-top: 0;
    width: 700px;
  }

.btn-outline-success{
  height: 40px;
  margin-top: 14px;
  position: relative;
}
   nav ul li { 
    display: inline-block; 
    list-style: none; 
    margin-top: none;
    margin-left: 20px;
  } 
.nav-link{
    font-size: 18px;
    text-decoration: none;
    margin-top: 15px;
    padding: 0;
    position: relative;
}
.nav-link::after {   
    content: ""; 
    width: 0; 
    height: 3px; 
    background-color: #088F8F; 
    position: absolute; 
    left: 7px; 
    bottom: -4px;
    
    transition: 0.5s; 
  } 
  .nav-link:hover::after { 
    width: 95%; 
    
  }

  .e-flex{
    font-size: 18px;
    margin-top: 15px;
    padding: 0;
    width: auto;
  }
  /*-----------------------Drop Down Menu SECTION--------------------------------------------------------------------*/
.dropdown-menu{
  background-color: rgb(174, 232, 244, 0.5%);
  backdrop-filter: blur(10px);
}
  
  /*-----------------------Hero SECTION--------------------------------------------------------------------*/
  #hero-section{
    color: #fff;
    padding-top: 10%;
    
  }
  .brand-intro{
    font-size: 40px;
    font-weight: 600;
    margin-top: 60px;
  }
  .brand-desc{
    font-size: 15px;
    margin-top: 20px;
  }
  .img-fluid{
    width: 500px;
    margin-top: 50px;
    margin-left: 50px;
  }

  /*-----------------------CONTACT SECTION--------------------------------------------------------------------*/
#contact{
    padding: 30px 0;
    margin-top: 800px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .cont-left {
    color: #fff;
    flex-basis: 35%;
  }
  .cont-right {
    flex-basis: 60%;
  }
  .cont-left p {
    margin-top: 30px;
  }
  .cont-left p i {
    margin-right: 15px;
    font-size: 25px;
  }
  .socialmedia-icons {
    margin-top: 30px;
  }
  .socialmedia-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #86CFDE;
    display: inline-block;
    transition: transform 0.5s;
  }
  .socialmedia-icons a:hover {
    color: #145659;
    transform: translateY(-5px);
  }
  .button {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #145659;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
  }
  .button:hover {
    background: #145659;
  }
  .button.btnsub {
    display: inline-block;
    color: #080808;
  }
  .cont-right form {
    width: 100%;
  }
  form input,
  form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
  }
  form .btnsub {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
  }
  .copyright {
    color: white;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: none;
    font-weight: 300;
    margin-top: 50px;
  }
  .copyright i {
    color: #CAF0F8;
  }
  #msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
  }

@media(max-width: 991px){
    .sidebar{
        background-color: rgba(51, 147, 164, 0.15);
        backdrop-filter: blur(10px);
    }
    .d-flex{
        margin-top: 5px;
        margin-bottom: 5px;
        width: auto;
      }
      .brand-intro{
        font-size: 35px;
        font-weight: 450;
        margin-top: 25%;
      }
      .brand-desc{
        font-size: 12px;
        margin-top: 15px;
      }
      .img-fluid{
        width: 300px;
        margin-top: 20px;
        margin-left: 0px;
      }
}